.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  min-height: 50px;
  padding: 0px 10px 0px 10px;
}
.title {
  color: red !important;
  font-size: 30px;
}
.pages {
  text-decoration: none;
  color: #ffffff;
}
.pages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: #181818;
  width: 300px;
  margin-left: -40px;
  align-items: center;
}
.pages-cont {
  padding-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.buttonSearch {
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.input-text {
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  color: #ffffff;
}
.search-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #181818;
  text-decoration: none;
}
.search-bar-input {
  width: 100%;
  height: 100%;
}

.search-butn {
  color: #ffffff;
  font-size: 20px;
}
.logo-link {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
.selected-id {
  color: red !important;
  padding-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .pages-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 5px 5px;
    line-height: normal;
  }
  .title {
    font-size: 30px;
  }
}
