.profile {
  width: 100px;
  height: 100px;
}
.castCrew {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow-x: scroll;
  width: 100%;
  padding: 20px;
}
.castCrewEach {
  margin: 20px;
}
.nameList {
  font-size: 15px;
}
.name-as {
  font-size: 15px;
  font-weight: 400;
}
.castItem {
  font-size: 25px;
  font-weight: 700;
  margin: 120px 0px 0px 20px;
}
